{% load static %}
<section class="partners_friends_section">
    <div class="container text-center">
        <div id="partners_friends_Carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <div class="carousel-inner">
                
                <div class="carousel-item active">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/citymaas.png' %}" alt="CityMaaS" class="img-fluid">
                                <p class="partners_friends_caption">CityMaaS</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/welcome.png' %}" alt="WelcoMe" class="img-fluid">
                                <p class="partners_friends_caption">WelcoMe</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/fatcatz-logo.jpg' %}" alt="Fatcatz Mobility" class="img-fluid">
                                <p class="partners_friends_caption">Fatcatz Mobility</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/accessible_travel.png' %}" alt="AccessibleTravel.Online" class="img-fluid">
                                <p class="partners_friends_caption">AccessibleTravel.Online</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/toucan.jpg' %}" alt="Toucan Diversity Training" class="img-fluid">
                                <p class="partners_friends_caption">Toucan Diversity Training</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/enable_mytrip.png' %}" alt="Enable Mytrip" class="img-fluid">
                                <p class="partners_friends_caption">Enable Mytrip</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/madeira.jpg' %}" alt="Madeira Acessivel" class="img-fluid">
                                <p class="partners_friends_caption">Madeira Acessivel By Wheelchair</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/itp.jpg' %}" alt="Intigrated Transport Planning" class="img-fluid">
                                <p class="partners_friends_caption">Intigrated Transport Planning</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/taylor_made.jpg' %}" alt="Taylor Made Wheelchair" class="img-fluid">
                                <p class="partners_friends_caption">Taylor Made Wheelchair</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/accessible_romania.png' %}" alt="Accessible Romania" class="img-fluid">
                                <p class="partners_friends_caption">Accessible Romania</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/menorca.jpg' %}" alt="Holiday Mobility Scooters" class="img-fluid">
                                <p class="partners_friends_caption">Holiday Mobility Scooters Menorca</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/man-on-wheelchair.jpg' %}" alt="Disability Roadmap CIC" class="img-fluid">
                                <p class="partners_friends_caption">Disability Roadmap CIC</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/sewing.png' %}" alt="Seated Sewing" class="img-fluid">
                                <p class="partners_friends_caption">Seated Sewing</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/flat_spaces.jpg' %}" alt="Flat Spaces" class="img-fluid">
                                <p class="partners_friends_caption">Flat Spaces</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/australia.png' %}" alt="ACCESS AUSTRALIA" class="img-fluid">
                                <p class="partners_friends_caption">Arto for ACCESS AUSTRALIA</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="partners_friends_card">
                                <img src="{% static 'images/partners_and_friends/blue_badge.jpg' %}" alt="Blue Badge Style" class="img-fluid">
                                <p class="partners_friends_caption">Blue Badge Style</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#partners_friends_Carousel" data-bs-slide="prev">
                <span class="partners_friends_prev_icon" aria-hidden="true">‹</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#partners_friends_Carousel" data-bs-slide="next">
                <span class="partners_friends_next_icon" aria-hidden="true">›</span>
            </button>
        </div>
    </div>
</section>

