{% load static %}
<section class="slider-section ">
    <div class="container text-center">
        <div id="logoCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                
                <div class="carousel-item active">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="{% static 'images/sponsor/genz.jpg' %}" alt="genz" class="img-fluid">
                            <p class="logo-caption">GenZ Marketing</p>
                        </div>
                        <div class="col-4">
                            <img src="{% static 'images/sponsor/horlix.jpg' %}" alt="horlix" class="img-fluid">
                            <p class="logo-caption">HeX Productions</p>
                        </div>
                        <div class="col-4">
                            <img src="{% static 'images/sponsor/pressalit.jpg' %}" alt="pressalit" class="img-fluid">
                            <p class="logo-caption">Pressalit</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <img src="{% static 'images/sponsor/genz.jpg' %}" alt="genz" class="img-fluid">
                            <p class="logo-caption">GenZ Marketing</p>
                        </div>
                        <div class="col-4">
                            <img src="{% static 'images/sponsor/horlix.jpg' %}" alt="horlix" class="img-fluid">
                            <p class="logo-caption">HeX Productions</p>
                        </div>
                        <div class="col-4">
                            <img src="{% static 'images/sponsor/pressalit.jpg' %}" alt="pressalit" class="img-fluid">
                            <p class="logo-caption">Pressalit</p>
                        </div>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#logoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#logoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

