<section class="video-slider-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div id="videoCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                
                        <div class="carousel-item active">
                            <div class="video-container shadow-lg rounded overflow-hidden">
                                <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/c7Oy4ojSwyE?enablejsapi=1&origin={{ request.scheme }}://{{ request.get_host }}&rel=0" 
                                title="AccessAdvisr Video 1" 
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                            </iframe>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="video-container shadow-lg rounded overflow-hidden">
                                <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/SZEflIVnhH8?enablejsapi=1&origin={{ request.scheme }}://{{ request.get_host }}&rel=0" 
                                title="AccessAdvisr Video 2" 
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                            </iframe>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="video-container shadow-lg rounded overflow-hidden">
                                <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/a4k2wJcIAR4?enablejsapi=1&origin={{ request.scheme }}://{{ request.get_host }}&rel=0" 
                                title="Real Reviews. True Access. Disabled Voices Leading the Way" 
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                            </iframe>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="video-container shadow-lg rounded overflow-hidden">
                                <div class="ratio ratio-16x9">
                            <iframe 
                                src="https://www.youtube.com/embed/5gGCfJh1Q3Q?enablejsapi=1&origin={{ request.scheme }}://{{ request.get_host }}&rel=0" 
                                title="Disabled Voices Are LEADING The Way" 
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                            </iframe>
                                </div>
                            </div>
                        </div>

                    </div>

                <button class="carousel-control-prev custom-video-nav" type="button" data-bs-target="#videoCarousel" data-bs-slide="prev">
                    <span class="nav-circle"><i class="bi bi-chevron-left"></i></span>
                </button>
                <button class="carousel-control-next custom-video-nav" type="button" data-bs-target="#videoCarousel" data-bs-slide="next">
                    <span class="nav-circle"><i class="bi bi-chevron-right"></i></span>
                </button>
                </div>
            </div>
        </div>
    </div>
</section>

